.header-container {
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 300px;
    font-size: x-large;
    background-image: linear-gradient(to right, blue, purple);
    color: white;
}

.header-container h1 {
    margin: 0;
    padding: 0;
    padding-top: 30px;
}

.header-container p {
    padding-left: 100px;
    padding-right: 100px;
}

.main-container {
    width: 100%;
    justify-content: center;
    gap: 20px;
    align-items: flex-start;
}

/* main {
    background-image: url('C:\Users\annag\Desktop\biohackAI\public\pill.png');
    background-repeat: repeat;
    background-size: 100% 100%;
    /* Adjust as needed */
/* transform: rotate(-45deg); */
/* Rotate the background diagonally */
/* } */