.App {
  text-align: center;
  background-color: #6943ff;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

.App ul {
  list-style-position: inside;
  text-align: left;
  display: inline-block;
  padding-left: 0;
}