.App {
    text-align: center;
    background-image: linear-gradient(to right, rgb(103, 103, 255), rgb(255, 109, 255));
    align-items: center;
}

.App-link {
  color: #61dafb;
}

.App ul {
  list-style-position: inside;
  text-align: left;
  display: inline-block;
  padding-left: 0;
}